body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(245, 245, 245);
    font-family: FreeMono, monospace;
    text-shadow: 2px 2px 5px black;
}
#head{
    background-color:rgb(196, 164, 132);
    width: 99vw;
    height: 7vh;min-height: 55px;
    display: flex;
    align-items: center;
}
#head span{
    margin: 10px;
}
#bttn{
gap: 20px;
margin-left: auto;
margin-right: 20px;
}
button{
    border-radius: 20px;
    height: 3.5vh;min-height: 35px;
    width: 10vw; min-width: 90px; max-width: 150px;
    margin: 15px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.384);
}
button:active{
    background-color: rgba(255, 255, 255, 0.76);
    transform: scale(0.95);
}
button:hover{
    background-color: rgba(196, 166, 136, 0.712)!important ;
    transform: scale(1.03);
    padding: 3px;
}


.login , #addWindow{
    position:absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    height: 24vh;min-height: 190px;
    width: 25vw;min-width: 290px;
    background-color:rgba(196, 164, 132, 0.836) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: black 1px solid;
    box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.733);
}
#addWindow input,textarea{
 width: 80%;
 height: 15%;
 text-align: center;
 letter-spacing: 2px;
 margin: 10px;
}
.noteCont{
    position: absolute;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin: 0;
    max-width: 99vw;min-width: 99vw;
    min-height: 100vh;
    background-color:rgba(104, 103, 102, 0.308);
}
#note{
    flex: 0 1 calc(20% - 30px); 
    border-radius: 10px 35px 35px 35px;
    max-width: 250px;min-width: 200px;
    display: flex;
   align-items: center;
    flex-direction: column;
    height: 20vh;
    background-color: rgba(255, 60, 0, 0.5);
    margin: 50px;
    padding: 5px;
    border: black 2px solid;
}
#note.done{
   animation: done 0.5s ease-in forwards;
}
@keyframes done {
    0%{}
    100%{ background-color: rgba(0, 128, 0, 0.514);}
}
#note input[type="checkbox"] {
    transform: scale(1.5);
    margin-top: 15%;margin-bottom: 10%;
    background-color: red !important;
}
#note span{
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #1f1e1eef;
    letter-spacing: 2px;
}
#blur{
    filter: blur(25px);
}